

.btn-edit, .btn-delete, .btn-create, .btn-logout {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-edit {
  background-color: #4CAF50;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.btn-create {
  background-color: #008CBA;
  color: white;
}

.btn-logout {
  background-color: #e7e7e7;
  color: black;
}

img {
  object-fit: cover;
  width: 150px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;

}

.submitBtn{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3498db;
}


img{
  width: 100px;

}

.deck-container{
  width: 100%;
  min-height: 68vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
}
.btnAddCard{
  width: 100%;
  height: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.btnAddCard .play{
  width: 20%;
  height: 100%;
  background-color: #2980b9;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.btnAddCard .play:hover{
  background-color: #2773a5;
}

.btnAddCard .create{
  width: 20%;
  height: 100%;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.btnAddCard .create:hover{
  background-color: #3a883e;
}

.btnDiv{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.btnDiv button{
  border-radius: 10px;
  width: 48%;
  height: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 150px;
  perspective: 1000px;
  margin: 50px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
