<div class="container" *ngIf="!showResult">
  <div class="counter"><h1>Question: {{ reponsesCorrectes }} / {{ cards.length}}</h1></div>
  <div class="card" (click)="flipCard()" [ngClass]="{'flipped': flipped}" >
    <div class="front">
      <div class="card-title">{{ cards[indexActuel].frontText }}</div>
      <div class="card-content"><img *ngIf="cards[indexActuel].frontImg" src="https://localhost:7150/Images/{{cards[indexActuel].frontImg}}"> </div>
    </div>
    <div class="back">
      <div class="card-title">{{ cards[indexActuel].backText }}</div>
      <div class="card-content"><img *ngIf="cards[indexActuel].backImg" src="https://localhost:7150/Images/{{cards[indexActuel].backImg}}"></div>
    </div>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Réponse" [(ngModel)]="inputValue">
    <button (click)="afficherElementSuivant()">Répondre</button>
  </div>
</div>

<app-result *ngIf="showResult" [DeckId]="deckId" [score]="reponsesCorrectes" [nombreQuestion]="cards.length"  (buttonPressed)="rejouer()"></app-result>
