<!-- Afficher la liste des decks -->
<div class="containeurDeck">
  <div *ngFor="let deck of decks">
    <app-deck-card (click)="goToDeckListCards(deck.id)" [title]="deck.title" (deleteEvent)="deleteDeck(deck.id)" (editEvent)="openModalEdit(deck)"></app-deck-card>
  </div>
</div>


<!-- Button to Open the Modal -->
<button (click)="openModal()">Create Deck</button>



<app-universal-modal [isOpen]="modalOpen" [title]="'Create Deck'" [content]="defaultTitle" (submitEvent)="createDeck($event)" (closeEvent)="closeModal()"></app-universal-modal>

<app-universal-modal *ngIf="selectedDeck" [isOpen]="modalOpenEdit" [title]="'Edit Deck'" [content]="selectedDeck.title" (submitEvent)="updateDeck($event)" (closeEvent)="closeModalEdit()"></app-universal-modal>


