<!-- Afficher la liste des decks -->
<div *ngFor="let deck of decks">
  <h2>{{ deck.title }}</h2>
  <a (click)="goToDeckListCards(deck.id) ">View</a>
  <button (click)="deleteDeck(deck.id)">Delete</button>
</div>


<!-- Button to Open the Modal -->
<button (click)="openModal()">Create Deck</button>

<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="{'display': modalOpen ? 'block' : 'none'}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">×</span>
    <form #deckForm="ngForm" (ngSubmit)="createDeck(deckForm.value)">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" ngModel>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
