<app-navbar></app-navbar>
<div class="inscriptionComponent">
  <div class="inscriptionFormContainer">

    <div class="logoTop">
      <div class="logoCase">
        <h1>MindSwap</h1>
      </div>
    </div>

    <div class="titreComponent">
      <h1>Modifier profil</h1>
      <hr>
    </div>

    <form [formGroup]="register">
      <div class="containerInputCase">
        <div class="inputCase">
          <label #label></label>
          <input #input type="text" name="nom" (focus)="onFocus(0)" (blur)="onBlur(0)" formControlName="username" [class.invalid]="register.get('nom')?.invalid && register.get('nom')?.touched">
          <i class="pi pi-user"></i>
        </div>
        <div class="inputCase">
          <label #label></label>
          <input #input type="text" name="email" (focus)="onFocus(1)" (blur)="onBlur(1)" formControlName="email" [class.invalid]="register.get('email')?.invalid && register.get('email')?.touched">
          <i class="pi pi-inbox"></i>
        </div>
      </div>

        <div class="boutonContainer">
          <div class="boutonInscription" (click)="sendData()">
            <p>Modifier</p><i class="pi pi-send"></i>
          </div>
          <div class="load">
            <i class="pi pi-spin pi-spinner loader" #responseNotification></i>
          </div>
          <div class="texteError check" #responseNotification>
            <p>Champs Invalide</p>
            <p>Problème de champs</p>
          </div>
          <div class="texte check" #responseNotification>
            <p> Modification reussit</p>
          </div>
        </div>
    </form>
  </div>
</div>
